* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #4a4e69;
}

.Toastify__toast-container {
    width: 300px;
}


@media screen and (max-width: 768px) {

    .Toastify__toast-container {
        width: 250px;
    }
}


@media screen and (max-width: 480px) {

    .Toastify__toast-container {
        width: 200px;
    }
}